<div class="modal fade" [ngClass]="{'show': show}" *ngIf="show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ editMode ? 'Editar Autor' : 'Nuevo Autor' }}</h5>
        <button type="button" class="btn-close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="authorForm">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label class="form-label">Género</label>
            <input type="text" class="form-control" formControlName="gender">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onClose()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="onSave()">OK</button>
      </div>
    </div>
  </div>
</div>
