<!-- Top Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/kissmarkri.gif" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
      EVALUACIÓN
    </a>
    <div class="ms-auto">
      <img src="assets/img/user.png" alt="" width="30" height="30" class="me-2">
      <span class="text-white">KISSMARK RIVAS MORENO</span>
      <button class="btn btn-outline-secondary text-white">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
  </div>
</nav>

<!-- Main Content -->
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar Menu -->
    <div class="col-md-2 bg-light sidebar">
      <div class="list-group mt-3">
        <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="list-group-item list-group-item-action">Dashboard</a>
        <a routerLink="/authors" routerLinkActive="active" class="list-group-item list-group-item-action">Autores</a>
        <a routerLink="/books" routerLinkActive="active" class="list-group-item list-group-item-action">Libros</a>
      </div>
    </div>

    <!-- Main Content Area -->
    <div class="col-md-10 main-content p-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- New/Edit Book Modal -->
<div class="modal fade" id="bookModal" tabindex="-1" [ngClass]="{'show': showModal}" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ editMode ? 'Editar Libro' : 'Nuevo Libro' }}</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="bookForm">
          <div class="mb-3">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" formControlName="title">
          </div>
          <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" formControlName="description" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label">Autor</label>
            <div class="input-group">
              <select class="form-control" formControlName="authorId">
                <option value="">Seleccionar autor</option>
                <option *ngFor="let author of authors" [value]="author.id">{{ author.name }}</option>
              </select>
              <button class="btn btn-outline-secondary" type="button" (click)="openNewAuthorModal()">
                Nuevo Autor
              </button>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Año</label>
            <input type="number" class="form-control" formControlName="year">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" formControlName="published" id="publishedCheck">
            <label class="form-check-label" for="publishedCheck">Publicado</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveBook()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- New Author Modal -->
<div class="modal fade" id="authorModal" tabindex="-1" [ngClass]="{'show': showAuthorModal}" *ngIf="showAuthorModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Autor</h5>
        <button type="button" class="btn-close" (click)="closeAuthorModal()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="authorForm">
          <div class="mb-3">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label class="form-label">Género</label>
            <input type="text" class="form-control" formControlName="gender">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeAuthorModal()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveAuthor()">OK</button>
      </div>
    </div>
  </div>
</div>
